$box-shadow-color:          #09f;
$box-shadow-width:          6px;
$box-border-color:          #3bf;

$shadowWrapper:             #07b;
$shadowColor:               #09f;
$shadowSubmenuLink:         #999;

$fontColor:                 #333;
$fontColorInactive:         #999;
$fontColorHeader:           #07b;
$fontColorHover:            #ffd800;
$fontColorHighlight:        #f30;
$fontColorCode:             #039;
$fontColorMenuLink:         #fff;

$background:                #fff;
$backgroundCode:            #eff;
$backgroundTable:           #cdf;
$backgroundMenu:            #69f;
$backgroundMenu2:           #0A5CFF;

$borderCode:                #bdf;
$borderTable:               #999;
$borderMenu:                #eee;
$htmlBackground:            #fefeff;
