#layout-content-small{
    margin-left: 9em;
}

#layout-side-menu{
    float: left;
    width: 9em;

    .submenu-item{
        background:url('../images/dot.png') left center no-repeat;
    }

    .submenu-link{
        @extend %submenuLink;
    }

}

.menu-item>.submenu{
    background: $backgroundMenu2;
    top: 100%;
    left: -1px;
    right: -1px;
    >.submenu-item{
        border: solid 1px $borderMenu;
        border-top: 0;
        @include gradient-bg(rgb(40,120,255), rgb(0,85,255), rgb(0,85,255));
        >.submenu-link{
            @extend %menuLink;
            padding: 0.4em 0.5em;
            &:hover, &.active{
                color: $fontColorHover;
            }
        }
    }
}

